.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.attackButton {
  flex: initial;
  height: 200px;
  width: 200px;
  border: 2px solid black;
  background-color: brown;
}

.spellButton {
  flex: initial;
  height: 200px;
  width: 200px;
  border: 2px solid black;
  background-color: brown;
}

.attackDisplayer {
  flex: initial;
  width: 200px;
  height: 200px;
  font-size: 150px;
  text-align: center;
  vertical-align: middle;
}

.spellDisplayer {
  flex: initial;
  width: 200px;
  height: 200px;
}
